<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('layouts/_min.head.ejs') %>
    <link rel="stylesheet" href="css/contact.css">
        <title>
            <%=title%>
        </title>
</head>

<body>
    <%- include('layouts/_navbar.ejs') %>
        <h1>
            <%=title%>😊
        </h1>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6">

                </div>
                <div class="col-12 col-md-6">

                </div>
            </div>
        </div>





        <%- include('layouts/_min.footer.ejs') %>
</body>

</html>