<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('layouts/_min.head.ejs') %>
    <title><%=title%></title>
</head>
<body>
    <%- include('layouts/_navbar.ejs') %>
    <h1><%=title%>😊</h1>


    <%- include('layouts/_min.footer.ejs') %>
</body>
</html>